.card-body {
  background-color: #323096;
}
.card-body h3 {
  color: white;
}
.card-body h5 {
  color: white;
}
.back {
  color: white;
}
.arrow-back :hover {
  cursor: pointer;
  color: #f4caae;
}
.s-card {
  background-color: #323096;
}
.input-group-text {
  background-color: #232946;
}
.icon-comment {
  color: #232946;
}
.head-module {
  background-color: #ddf0ff;
}
.head-module h5 {
  color: #232946;
  font-weight: bold;
}
.head-exam {
  background-color: white;
}
.body-module {
  background-color: white;
}
.body-exam {
  background-color: white;
}
.exam h5 {
  color: #0d153f;
  font-weight: bold;
}
.exam h6 {
  font-weight: bold;
}

.title-badge.status-title {
  background: #ddf0ff;
  color: teal;
}
.title-badge {
  border-radius: 2px;
  padding: 0.5em 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 20px;
  font-size: 14px;

  letter-spacing: 0.3px;
}

.label-student {
  background-color: #ddf0ff;
  color: #232946;
  height: 25px;
}
.label-teacher {
  background-color: #323096;
  color: white;
  height: 25px;
}
.time {
  font-size: 12px;
}
.title {
  color: #ddf0ff;
  margin: 5px;
}
.date {
  color: white;
  margin: 5px;
}
.view-exam {
  height: 430px;
}
.view-module {
  height: 430px;
}
.view-content-exam {
  height: 338px;
}
.discussion {
  color: #232946;
  font-weight: bold;
}
.form {
  height: auto;
}
.row {
  padding: 10px;
}
.send {
  color: #232946;
  padding: 5px;
}
.send :hover {
  color: #3a4372;
  cursor: pointer;
}
.forum {
  /* border: 1px solid; */
  width: 60%;
}
.delete :hover {
  cursor: pointer;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
  border: none;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #323096;
  height: 3rem;
  border: none;
  border-radius: 10px;
  color: white;
}
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: none;
  color: grey;
}
.status-badge.status-present {
  background: #c8e6c9;
  color: #256029;
}

.status-badge {
  border-radius: 2px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  height: 25px;
  font-size: 15px;
  letter-spacing: 0.3px;
}
/* :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:hover{
    background-color: #263580;
    border: none;
    color: #f4caae;
} */

/* :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background-color: red;
} */
@media (min-width: 411px) {
  .detail-title {
    max-width: 10%;
  }
  .forum {
    /* border: 1px solid; */
    width: 100%;
  }
  .textarea {
    width: 100%;
  }
  .view-exam {
    height: 450px;
  }

  .view-content-exam {
    overflow-y: scroll;
    height: auto;
  }
  .view-module {
    overflow-y: scroll;
    margin-top: 200px;
  }
  .view-exam ::-webkit-scrollbar {
    display: none;
  }
  .view-module ::-webkit-scrollbar {
    display: none;
  }
  .head-module ::-webkit-scrollbar {
    display: none;
  }
  .view-content-exam ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .detail-title {
    max-width: 95%;
  }
  .view-module {
    overflow-y: scroll;
    margin-top: 0px;
  }
  .textarea {
    width: 60%;
  }

  .view-exam {
    height: 410px;
  }

  .view-content-exam {
    overflow-y: scroll;
    height: 360px;
  }
  .forum {
    width: 60%;
  }
  .view-exam ::-webkit-scrollbar {
    display: none;
  }
  .view-module ::-webkit-scrollbar {
    display: none;
  }
  .head-module ::-webkit-scrollbar {
    display: none;
  }
  .view-content-exam ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .data {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
  }
  .label {
    background-color: #ddf0ff;
    color: #232946;
    height: 25px;
  }
  .time {
    font-size: 12px;
  }
  .message {
    width: 100%;
    height: auto;
    margin-left: 0px;
    /* margin-top: px; */
  }
  .role-teacher {
    margin-top: -12px;
  }
  .role-student {
    margin-top: -12px;
  }
  .row {
    margin-bottom: 30px;
    padding: 0px;
  }
  /* .message h6{
        width: 50px;
    } */

  .view-exam {
    height: 400px;
  }
  .view-module {
    overflow-y: hidden;
    height: 410px;
  }
  .view-content-exam {
    overflow-y: scroll;
    height: 340px;
  }
  .view-exam ::-webkit-scrollbar {
    display: none;
  }
  .view-module ::-webkit-scrollbar {
    display: none;
  }
  .head-module ::-webkit-scrollbar {
    display: none;
  }
  .view-content-exam ::-webkit-scrollbar {
    display: none;
  }
}
