<div class="container card shadow-sm mt-3">
  <div class="row justify-content-center">
    <!-- <h4 class="text-info text-center mt-1">Edit Profile</h4> -->
    <div class="col-lg-12 m-3 px-4">
      <input type="hidden" [(ngModel)]="studentProfile.id" />

      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <img [src]="photo" class="rounded-circle" height="150" width="150" alt="" />
            <div class="d-flex justify-content-center mt-3">
              <label class="photo btn btn-light btn-sm">
                <div class="d-flex flex-row">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                      d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                  </svg>
                  Edit Photo
                </div>
                <input type="file" (change)="fileChange($event)" hidden />
              </label>
            </div>
          </div>
        </div>
        <div class="text-secondary">
          <h6>First Name</h6>
        </div>
        <div class="p-inputgroup mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="First name.." [(ngModel)]="studentProfile.firstName" />
        </div>

        <div class="text-secondary">
          <h6>Last Name</h6>
        </div>

        <div class="p-inputgroup mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Last name.." [(ngModel)]="studentProfile.lastName" />
        </div>

        <div class="text-secondary">
          <h6>Username</h6>
        </div>
        <div class="p-inputgroup mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Last name.." [(ngModel)]="studentProfile.username" />
        </div>
        <div class="text-secondary">
          <h6>Phone Number</h6>
        </div>
        <div class="p-inputgroup mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Phone.." [(ngModel)]="studentProfile.phone" />
        </div>
        <div class="text-secondary">
          <h6>Gender</h6>
        </div>
        <div class="p-inputgroup mb-2">
          <div class="d-flex flex-row">
            <div class="form-check pr-3">
              <input class="form-check-input" type="radio" name="male" value="MALE"
                [(ngModel)]="studentProfile.gender" />
              <label class="form-check-label"> Male </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="female" value="FEMALE"
                [(ngModel)]="studentProfile.gender" />
              <label class="form-check-label"> Female </label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="d-flex flex-row">
            <button class="btn btn-secondary mr-3" (click)="cancel()">
              Cancel
            </button>
            <button class="btn btn-info" (click)="save()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>