/* .icon-student img{
    width: 25px;
    height: 25px;
}
.icon-student h6{
    margin-left: 6px;
    margin-top: 3px;
}

.icon-schedule img{
    width: 25px;
    height: 22px;
}

.icon-schedule h6{
    margin-top: 3px;
    margin-left: 8px;
}
.card{
    height: 26rem;
}

:host ::ng-deep .p-button{
    background-color: #2b50b4;
    border: none;
}
:host ::ng-deep .p-button:hover{
    background-color: #244295;
} */

.header {
  background-color: #232946;
  height: 10rem;
  margin-top: 10px;
}
.content-body {
  width: 100%;
}
.content-students {
  margin-top: 10px;
  width: 49%;
}
.content-students img {
  width: 100px;
  height: 100px;
  text-align: center;
}
.content-students h4 {
  font-size: 40px;
  font-weight: bold;
  color: #232946;
}

.content-courses {
  width: 49%;
  margin-top: 10px;
}
.content-courses img {
  width: 80px;
  height: 100px;
  text-align: center;
}
.content-courses h4 {
  font-size: 40px;
  font-weight: bold;
  color: #232946;
}

.content-mycourse {
  margin-top: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
}
.icon-time img {
  width: 16px;
  height: 16px;
}
.icon-time h6 {
  margin: 5px;
  font-size: 14px;
  color: #b0aeae;
}

.icon-calender img {
  width: 16px;
  height: 20px;
}

.icon-calender h6 {
  font-size: 14px;
  margin: 5px;
  color: #b0aeae;
}

.description h6 {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #b0aeae;
}
.student-course {
  color: #b0aeae;
}
