<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class="col-lg-6 text-center">
                            <div class="card shadow p-2 mb-2 bg-white rounded" style="width: 30rem;">
                                <div class="icon-student mt-3">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                                        class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd"
                                            d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                    </svg> -->
                                    <img src="../../../../assets/images/students.svg">
                                </div>
                                <div class="mt-3">
                                    <h3>10 Students</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <div class="col-lg-6 text-center">
                            <div class="card shadow p-2 mb-2 bg-white rounded" style="width: 30rem;">
                                <div class="icon-course mt-3">
                                    <img src="../../../../assets/images/course.svg">
                                </div>
                                <div class="mt-3">
                                    <h3>10 Courses</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>