<div class="container-fluid">
  <div class="row">
    <div class="header col-lg-12">
      <div class="d-flex flex-column mb-3 mt-3">
        <h3 class="text-center">Hi, {{ firstName }} {{ lastName }}</h3>
        <!-- <h3 class="text-center">WELCOME TO LAWERNING</h3> -->
        <h6 class="text-center">
          Ready for your next lesson? Let's go manage your class now!
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-3">
      <div class="card-student shadow d-flex flex-row">
        <img src="assets/images/img/enrolled_student.svg" />
        <div class="icon-student d-flex flex-column">
          <h3>Enrolled Student</h3>
          <h4 class="text-center">{{ totalStudent }}</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-3">
      <div class="card-course shadow d-flex flex-row">
        <img src="assets/images/img/course.svg" />
        <div class="icon-course d-flex flex-column">
          <h3>Enrolled Course</h3>
          <h4 class="text-center">{{ totalCourse }}</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-3">
      <div class="card-module shadow d-flex flex-row">
        <img src="assets/images/img/enrolled_module.svg" />
        <div class="icon-module d-flex flex-column">
          <h3>Enrolled Module</h3>
          <h4 class="text-center">{{ totalModule }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between">
        <div class="courses1">
          <h5>My Courses</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-3" *ngFor="let c of courses; let i = index">
      <a (click)="viewModule(i)">
        <div class="card-header mb-2">
          <h5 class="card-title text-truncate" style="max-width: 250px">
            {{ c.name }}
          </h5>
          <div class="d-flex justify-content-start">
            <div class="icon-module d-flex flex-row mr-2">
              <fa-icon [icon]="['fas', 'book']" size="sm" style="color: white;"></fa-icon>
              <h6>{{ c.totalModule }} module</h6>
            </div>
            <div class="icon-student d-flex flex-row">
              <fa-icon [icon]="['fas', 'users']" size="sm" style="color: white;"></fa-icon>
              <h6>{{ c.totalStudent }} student</h6>
            </div>
          </div>
          <div class="icon-calender d-flex flex-row">
            <fa-icon [icon]="['fas', 'calendar-alt']" size="sm" style="color:white;"></fa-icon>
            <h6>
              {{ c.periodStart | date: "dd/MM/yyyy" }} -
              {{ c.periodEnd | date: "dd/MM/yyyy" }}
            </h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>