<div class="container-fluid">
  <div class="row">
    <div class="header-profile col-lg-12 pt-5 shadow p-3 mb-5"></div>
  </div>
</div>
<div class="body-profile container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <h6 hidden>{{ profileTeacher.photoId }}</h6>
          <img [src]="photo" height="180" width="180" class="rounded-circle p-1 mb-2" alt="" />
        </div>
      </div>

      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-space-evenly">
            <h1 class="name pr-3">
              {{ profileTeacher.firstName }} {{ profileTeacher.lastName }}
            </h1>
            <img *ngIf="
                profileTeacher.gender &&
                profileTeacher.gender.toString() === 'MALE'
              " src="assets/images/icon_male.png" height="30" alt="" />
            <img *ngIf="
                profileTeacher.gender &&
                profileTeacher.gender.toString() === 'FEMALE'
              " src="assets/images/icon_female.png" height="30" alt="" />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <h5 class="text-bold text-secondary">
            Member since {{ profileTeacher.createdAt | date: "dd MMMM yyyy" }}
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-12 shadow p-4 mt-2 mb-2 rounded">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="text-secondary bi bi-person-square" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
          </svg>
          <h3 class="text-secondary ml-3">My Contact</h3>
        </div>
        <a class="text-secondary" (click)="formEdit(profileTeacher)">
          <fa-icon [icon]="['fas', 'edit']" size="lg"></fa-icon>

        </a>
      </div>

      <hr />
      <h4 class="text-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill"
          viewBox="0 0 16 16">
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg>
        {{ profileTeacher.email }}
      </h4>
      <hr />
      <h4 class="text-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill"
          viewBox="0 0 16 16">
          <path
            d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z" />
        </svg>
        {{ profileTeacher.phone }}
      </h4>
      <hr />
    </div>
    <div class="col-lg-12 shadow p-4 mt-2 mb-4 rounded">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="text-secondary bi bi-bookmarks-fill" viewBox="0 0 16 16">
            <path
              d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z" />
            <path
              d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z" />
          </svg>
          <h3 class="title-complete text-secondary ml-3">My Experience</h3>
        </div>

        <a class="text-secondary" (click)="showDialogEx()">
          <fa-icon [icon]="['fas', 'plus-circle']" size="2x"></fa-icon>
        </a>
      </div>
      <hr />
      <div class="p-1" *ngFor="let e of profileTeacher.experiences; let i = index">
        <h4 class="text-info">
          {{ e.title }}
        </h4>
        <h5 class="campus text-secondary">
          {{ e.description }}
        </h5>
        <div class="d-flex justify-content-between">
          <p class="text-secondary">
            {{ e.startDate | date: "dd MMM yyyy" }} -
            {{ e.endDate | date: "dd MMM yyyy" }}
          </p>
          <div class="d-flex justify-content-space-evenly">
            <a class="icon-edit-ex text-secondary" (click)="updateExperience(e)">
              <fa-icon [icon]="['fas', 'edit']" size="lg"></fa-icon>
            </a>
            <a class="icon-delete-ex text-secondary" (click)="deleteExperience(i)">
              <fa-icon [icon]="['fas', 'trash-alt']" size="lg"></fa-icon>
            </a>
          </div>
        </div>
        <hr />
      </div>
      <p-confirmDialog header="Delete" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
  </div>
</div>

<p-dialog header="Form Experience" [(visible)]="isDisplayEx" [style]="{ width: '40vw' }" [modal]="true"
  [baseZIndex]="9999">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-secondary">
          <label for="Title" class="form-label">Title</label>
        </div>
        <input [(ngModel)]="experience.title" type="text" class="form-control"
          placeholder="input your title experience here" />
      </div>
      <div class="col-lg-12 mt-2">
        <div class="mt-1">
          <div class="text-secondary">
            <label for="description" class="form-label">Description</label>
          </div>
          <input [(ngModel)]="experience.description" type="text" class="form-control"
            placeholder="input your description experience here" />
        </div>
      </div>
      <div class="col-lg-6 mt-2">
        <div class="text-secondary">
          <label for="description" class="form-label">Start Date</label>
        </div>
        <div class="p-inputgroup mb-2">
          <p-calendar [baseZIndex]="10000" [style]="{ width: '100%' }" [showIcon]="true" [(ngModel)]="dateStart"
            inputId="dateFormat" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="1945:2030">
          </p-calendar>
        </div>
      </div>
      <div class="col-lg-6 mt-2">
        <div class="text-secondary">
          <label for="description" class="form-label">End Date</label>
        </div>
        <div class="p-inputgroup mb-2">
          <p-calendar [baseZIndex]="10000" [style]="{ width: '100%' }" [showIcon]="true" [(ngModel)]="dateEnd"
            inputId="dateFormat" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="1945:2030">
          </p-calendar>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="mb-3"></div>


  <ng-template pTemplate="footer">
    <a (click)="cancelDialogEx()">
      <button class="btn btn-sm btn-secondary">Cancel</button>
    </a>

    <button (click)="saveDialog()" class="save btn btn-sm btn-info">
      Save
    </button>
  </ng-template>
</p-dialog>