.line {
  width: 1px;
  height: 2rem;
  margin-top: 1px;
  background-color: grey;
}
.badge {
  color: #323096;
  font-weight: bold;
  background-color: rgb(220, 250, 250);
}
a h5:hover {
  cursor: pointer;
  color: #323096;
  text-decoration-line: underline;
  text-decoration-color: #323096;
}
.teacher-name {
  font-weight: bold;
}
.label {
  border-radius: 10px 0px 10px 0%;
  width: 12rem;
  height: 2rem;
  position: absolute;
  color: #323096;
  font-weight: bold;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.row .categoryy {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.row .categoryy::-webkit-scrollbar {
  display: none;
}

.label-logo {
  color: #232946;
}
.btn-login {
  color: #232946;
}
.btn-login:hover {
  background-color: #232946;
  color: white;
}

.btn-get {
  color: white;
  border: none;
  background-color: #232946;
}

.btn-register {
  color: #232946;
}

.header-content {
  height: auto;
}

.ilustrator {
  border-radius: 10px 10px 0px 0px;
  height: 10rem;
}
.img-teach {
  height: 60px;
  width: 60px;
}
.data-teacher {
  margin-top: -1rem;
}
.category {
  border-radius: 0% 30px 0% 0%;
  width: 20rem;
  height: 2rem;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(1, 94, 122);
  font-weight: bold;
}
.image-photo {
  border-radius: 13px;
}
.card {
  width: 20rem;
  height: 25rem;
  border-radius: 10px;
}
.title h5 {
  color: #232946;
  font-weight: bold;
}
.advantage-text {
  font-weight: bold;
  color: #232946;
}
.footer {
  height: auto;
  background-color: teal;
}
@media (min-width: 411px) {
  /* .mentor-data {
    width: 80%;
  } */
  .underline {
    width: 5rem;
    height: 0.5rem;
    margin-left: 1.5rem;
    background-color: #232946;
  }
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;

    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  }
  :host
    ::ng-deep
    .p-carousel
    .p-carousel-indicators
    .p-carousel-indicator.p-highlight
    button {
    background-color: #232946;
  }
  .teacher-name {
    color: #232946;
    font-weight: bold;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .underline-mentor {
    width: 5rem;
    height: 0.5rem;
    margin-left: 8rem;
    background-color: #232946;
  }
  .header-left {
    margin-top: 0rem;
  }
  .card {
    width: 20rem;
    height: 24rem;

    margin-left: 2rem;
    margin-right: 0px;
  }

  .img-improve {
    height: 300px;
    width: auto;
  }
  .img-adv {
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 768px) {
  .header-left {
    margin-top: 8rem;
  }
  .underline-mentor {
    width: 5rem;
    height: 0.5rem;
    margin-left: 42.5rem;
    background-color: #232946;
  }

  .underline {
    width: 5rem;
    height: 0.5rem;
    margin-left: 1.5rem;
    background-color: #232946;
  }
  .img-improve {
    height: 400px;
    width: auto;
  }
  .card {
    width: 20rem;
    height: 22rem;
    margin-left: 0rem;
  }

  .img-adv {
    height: 100px;
    width: 100px;
  }
}
