<nav
  class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-1 sticky-top"
>
  <div class="d-flex flex-row pl-5 pr-3">
    <img src="assets/images/logo.png" height="40" alt="" />

    <h4 class="label-logo pt-1 pl-3">Lawerning</h4>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"></li>
    </ul>
    <div class="mr-5">
      <div class="d-flex flex-row p-2">
        <a class="btn-login btn btn-outline-secondary mr-3" routerLink="/login">
          Sign In
        </a>
        <span class="line mr-3"></span>
        <a href="" class="btn-register mt-2" routerLink="/register"> Sign Up</a>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="container-fluid"> -->
<div class="header-content container">
  <div class="row justify-content-center p-5">
    <div class="header-left col-lg-6 col-md-6 col-sm-12 mb-3">
      <h1 class="text-center">Improve Your Skills</h1>
      <h6 class="text-secondary my-4">
        Let's find material according to your fashion and professional mentors.
      </h6>
      <div class="d-flex justify-content-center">
        <button class="btn-get btn btn-primary" routerLink="/register">
          Register Course Now!
        </button>
      </div>
    </div>
    <div class="header-right col-lg-6 col-md-6 col-sm-12">
      <img src="assets/images/bannerHomePage.svg" class="img-improve" alt="" />
    </div>
  </div>
</div>

<div class="header-content2 container-fluid">
  <div class="row justify-content-center p-5">
    <div class="col-lg-12">
      <h1 class="text-center">The advantages of our E-learning</h1>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-5 px-4">
    <div class="col-lg-4 mb-3">
      <div class="d-flex justify-content-center">
        <img src="assets/images/bestMentor.svg" class="img-adv" alt="" />
        <div class="d-flex flex-column p-3">
          <h5 class="advantage-text">Best Mentor</h5>
          <p>
            We have professional course mentors who can guide you according to
            the course you have taken.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="d-flex justify-content-center">
        <img src="assets/images/betterCourse.svg" class="img-adv" alt="" />
        <div class="d-flex flex-column p-3">
          <h5 class="advantage-text">Better Course</h5>
          <p>
            We have prepared course materials of international standard quality
            that can guarantee to make you great.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex justify-content-center">
        <img src="assets/images/betterCourse.svg" class="img-adv" alt="" />
        <div class="d-flex flex-column p-3">
          <h5 class="advantage-text">Better Service</h5>
          <p>
            We provide services that make it easier for you in the learning and
            teaching process.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-content bg-light container-fluid">
  <div class="row justify-content-center p-4">
    <div class="d-flex flex-column mb-4">
      <h1 class="text-center">Courses</h1>
      <span class="underline text-center mb-3"></span>
    </div>
    <div class="row mb-3">
      <div class="col-lg-3" *ngFor="let c of courses; let i = index">
        <div class="card shadow my-3">
          <div class="d-flex flex-column">
            <img
              src="assets/images/banner_course.png"
              class="ilustrator"
              alt=""
            />
            <span class="label text-center text-truncate">{{
              c.categoryName
            }}</span>

            <div class="title m-3">
              <a (click)="viewModule(i)">
                <h5>{{ c.typeName }}</h5>
              </a>
              <div class="d-flex flex-row">
                <!-- <span class="badge p-2 badge-primary"
                  >{{ c.capacity }} students</span
                > -->

                <span class="badge p-2 badge-primary">
                  <div class="d-flex flex-row">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-clock-fill mr-1"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                      />
                    </svg>
                    {{ c.duration }} weeks
                  </div>
                </span>
              </div>
              <hr />
            </div>
            <div class="data-teacher d-flex justify-content-start">
              <img
                [src]="c.teacher.photoId"
                class="img-teach rounded ml-3"
                alt=""
              />
              <div class="d-flex flex-column pl-3">
                <h6 class="teacher-name">
                  {{ c.teacher.firstName }} {{ c.teacher.lastName }},
                  {{ c.teacher.title }}
                </h6>
                <h6 *ngIf="c.teacher.experience" class="text-secondary">
                  {{ c.teacher.experience }}
                </h6>
                <h6 *ngIf="!c.teacher.experience" class="text-secondary">
                  Experience not yet
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-mentor container-fluid">
  <div class="row justify-content-center p-4">
    <div class="col-lg-12">
      <div class="d-flex flex-column mb-4">
        <h1 class="text-center">Mentors</h1>
        <span class="underline-mentor text-center mb-3"></span>
      </div>
      <div class="mentor-data">
        <p-carousel
          [value]="mentors"
          [numVisible]="4"
          [numScroll]="4"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-mentor pTemplate="item">
            <div class="product-item">
              <div class="product-item-content shadow-sm">
                <div class="p-mb-3 text-center">
                  <img
                    [src]="mentor.idPhoto"
                    class="rounded"
                    height="120"
                    width="120"
                  />
                </div>
                <h5 class="teacher-name p-mb-1 text-center mt-3">
                  {{ mentor.firstName }} {{ mentor.lastName }},
                  {{ mentor.titleDegree }}.
                </h5>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div class="footer container-fluid">
  <div class="row justify-content-center p-4">
    <div class="col-lg-12">
      <h1 class="text-center text-light">Footer Content</h1>
    </div>
  </div>
</div>
