<div class="container-fluid">
  <div class="row">
    <div class="header col-lg-12">
      <div class="d-flex flex-column text-center mb-3 mt-3">
        <h2>{{ dtlCourse.name }}</h2>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row">
            <div class="d-flex flex-column mr-3">
              <div class="icon-student ml-1">
                <img src="assets/images/img/student.svg" />
              </div>
              <h6>{{ dtlCourse.totalStudent }} student</h6>
            </div>
            <div class="d-flex flex-column ml-3">
              <div class="icon-module">
                <img src="assets/images/img/module1.svg" />
              </div>
              <h6>{{ totalModule }} modules</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="ml-2">
              <span>ABOUT </span>
            </div>
          </ng-template>
          <div class="row">
            <div class="col-lg-12">
              <h4>About this course</h4>
            </div>
            <div class="col-lg-12 mb-2">
              <h6>
                {{ dtlCourse.description }}
              </h6>
            </div>

            <div class="col-lg-12">
              <h4>Schedule this course</h4>
              <div class="d-flex justify-content-evenly">
                <h6 class="card-text p-1">
                  <div class="icon-calender d-flex justify-content-between">
                    <fa-icon [icon]="['fas', 'calendar-alt']" size="lg" style="color:   #b0aeae;"></fa-icon>
                    <h6>
                      {{ dtlCourse.periodStart | date: "dd MMM yyyy hh:mm a" }}
                    </h6>
                  </div>
                </h6>
              </div>
            </div>
            <div class="col-lg-12 mt-2">
              <h4>Modules</h4>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 mt-2 shadow-sm p-3 mb-2 bg-white rounded"
                *ngFor="let m of dtlCourse.modules; let i = index">
                <div class="d-flex flex-row">
                  <img src="assets/images/img/module.svg" style="width: 8rem" />
                  <div class="d-flex flex-column">
                    <div class="header-content p-1">
                      <a (click)="viewModule(i)">
                        <h4>{{ m.title }}</h4>
                      </a>
                    </div>
                    <div class="d-flex justify-content-evenly">
                      <h6 class="card-text p-1">
                        <div class="icon-calender d-flex justify-content-between">
                          <fa-icon [icon]="['fas', 'calendar-alt']" size="lg" style="color:   #b0aeae;"></fa-icon>

                          <h6>{{ m.schedule.date }}</h6>
                        </div>
                      </h6>
                      <h6 class="card-text p-1">
                        <div class="icon-time d-flex justify-content-between">
                          <fa-icon [icon]="['fas', 'clock']" size="lg" style="color:   #b0aeae;"></fa-icon>
                          <h6>
                            {{ m.schedule.startTime }}-{{ m.schedule.endTime }}
                          </h6>
                        </div>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="ml-2">
              <span>STUDENT </span>
            </div>
          </ng-template>
          <div class="row">
            <div class="col-lg-12">
              <h4>Enrolled Student</h4>
              <div class="card-enrolled col-lg-12 mt-3 shadow-sm p-3 mb-2" *ngFor="let s of students; let i = index">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                      <h4>{{ s.firstName }} {{ s.lastName }}</h4>
                      <div class="icon-male" *ngIf="s.gender == 'MALE'">
                        <img src="assets/images/img/gender_male.svg" alt="" />
                      </div>
                      <div class="icon-female" *ngIf="s.gender == 'FEMALE'">
                        <img src="assets/images/img/gender_female.svg" alt="" />
                      </div>
                    </div>
                    <div class="d-flex flex-row">
                      <fa-icon [icon]="['fas', 'envelope']" size="xl"></fa-icon>
                      <div class="icon-email">
                        <h6>{{ s.email }}</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <fa-icon [icon]="['fas', 'mobile-alt']" size="xl"></fa-icon>
                    <div class="icon-phone">
                      <h6>{{ s.phone }}</h6>
                    </div>
                  </div>
                  <div class="icon-verify" *ngIf="s.isVerified == false">

                    <button pButton (click)="verifyStudent(i)" pRipple type="button" label="Verify"></button>
                  </div>

                  <div *ngIf="s.isVerified == true">
                    <span class="status-verified">Verified</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="ml-2">
              <span>REPORT </span>
            </div>
          </ng-template>
          <div class="col-lg-12">
            <div class="d-flex justify-content-end mb-3">
              <button (click)="downloadReport()" pButton type="button" label="Download"
                class="download p-button-info p-button-sm p-button-outlined p-button-rounded">
                <fa-icon [icon]="['fas', 'download']" size="xl" style="margin-right: 5px;"></fa-icon>
              </button>
            </div>
            <div class="head-card d-flex justify-content-between p-3">
              <h3>Report Attendance</h3>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search" />
              </span>
            </div>

            <p-table #dt1 [value]="attendanceReports" [paginator]="true" [scrollable]="true" [rows]="10"
              [showCurrentPageReport]="true" styleClass="p-datatable-striped"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
              [globalFilterFields]="['moduleName']">

              <ng-template pTemplate="header">
                <tr>
                  <th width="20px">No</th>
                  <th width="80px">Module Name</th>
                  <th width="80px">Date</th>
                  <th width="80px">Student Absent</th>
                  <th width="80px">Student Present</th>
                  <th width="80px">Total Student</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ap let-rowIndex="rowIndex">
                <tr>
                  <td width="20px">{{ rowIndex + 1 }}</td>
                  <td width="80px"> {{ ap.moduleName }}</td>
                  <td width="80px">{{ ap.date }}</td>
                  <td width="80px">{{ ap.absent }}</td>
                  <td width="80px">{{ ap.present }}</td>
                  <td width="80px">{{ ap.totalStudent }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
              </ng-template>
            </p-table>
          </div>
          <div class="col-lg-12 mt-2"></div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>