<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="left col-lg-6">
        <div class="card1 p-5">
          <div class="row px-3 justify-content-center mt-4 mb-5">
            <img src="assets/images/img/change-password.png" class="image" />
          </div>
        </div>
      </div>
      <div class="right col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
          <div class="row px-3 justify-content-center mb-2">
            <h4>Change Password</h4>
          </div>
          <div class="row px-3">
            <label class="mb-1">
              <h6 class="mb-0 text-sm">Old Password</h6>
            </label>
            <input [(ngModel)]="updatePassword.oldPassword" type="password" name="password"
              placeholder="Enter a old password" />
          </div>
          <div class="row px-3 mt-3">
            <label class="mb-1">
              <h6 class="mb-0 text-sm">New Password</h6>
            </label>
            <input [(ngModel)]="updatePassword.newPassword" type="password" name="new password"
              placeholder="Enter a new password" />
          </div>
          <div class="row px-3 mt-3">
            <label class="mb-1">
              <h6 class="mb-0 text-sm">Confirm New Password</h6>
            </label>
            <input type="password" [(ngModel)]="confirmPassword" name="new password"
              placeholder="Enter a confirm new password" />
          </div>

          <div class="row mb-3 px-3 mt-3">
            <button (click)="submit()" type="submit" class="btn btn-blue text-center">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>