.header a {
  margin-left: 10px;
  color: white;
}

.header h5 {
  color: #a7a9be;
  font-size: 18px;
  margin-left: 60px;
}

.header-module p {
  color: whitesmoke;
}

.body-module {
  margin-top: 5rem;
  width: 93%;
}

.content-description h5 {
  font-size: 22px;
  color: #232946;
  font-weight: bold;
}

.content-body h6 {
  margin-top: 6px;
  margin-left: 8px;
}

.card-body {
  background-color: #232946;
}

.card-body h3 {
  color: #f9bc60;
}

.card-body h5 {
  color: white;
}

.back {
  color: white;
}

.s-card {
  background-color: #232946;
}

.input-group-text {
  background-color: #232946;
}

.icon-comment {
  color: #232946;
}

.head-module {
  background-color: #f9bc60;
}

.head-module h5 {
  color: #232946;
}

.head-exam {
  background-color: #f9bc60;
}

.body-module {
  background-color: white;
}

.body-exam {
  background-color: white;
}

.exam h5 {
  color: #0d153f;
  font-weight: bold;
}

.exam h6 {
  font-weight: bold;
}

.label-student {
  background-color: #f9bc60;
  color: #232946;
  height: 25px;
}

.label-teacher {
  background-color: #232946;
  color: white;
  height: 25px;
}

.time {
  font-size: 12px;
}

.title {
  color: #f9bc60;
  margin: 5px;
}

.date {
  color: white;
  margin: 5px;
}

.view-exam {
  height: 410px;
}

.view-module {
  height: 410px;
}

.view-content-exam {
  height: 315px;
}

.discussion {
  color: #232946;
  font-weight: bold;
}

.message {
  margin-left: 50px;
}

.form {
  height: auto;
}

.send {
  color: #232946;
  padding: 10px;
}

.send :hover {
  background-color: #f9bc60;
  cursor: pointer;
}

.content-body h3 {
  font-size: 25px;
  margin-left: 15px;
  font-weight: bold;
}

.content-body h4 {
  margin-left: 6px;
  margin-top: 3px;
  font-size: 22px;
}

.content-attendance h5 {
  font-size: 22px;
  color: #232946;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-add-exam {
  margin-left: 15px;
}

.status-exam-badge {
  background: #c8e6c9;
  color: #256029;
}
.status-badge.status-progress {
  background: #c8e6c9;
  color: #254860;
}
.status-badge.status-present {
  background: #c8e6c9;
  color: #256029;
}
.status-badge.status-absent {
  background: #ffcdd2;
  color: #c63737;
}
.forum {
  width: 60%;
  margin-bottom: 20px;
}
.status-exam-badge {
  border-radius: 2px;
  padding: 0.45em 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.status-exam-badge {
  margin-left: 10px;
  border-radius: 2px;
  height: 20px;
  text-align: center;
  padding: 0.1em 0.4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.exam-header {
  max-width: 100%;
}

.deadlineTime h6 {
  color: rgb(231, 35, 35);
  margin-left: 7px;
}
.icon-back :hover {
  cursor: pointer;
}
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 300px) {
  .body-module {
    margin-top: 7rem;
  }
}

@media (min-width: 400px) {
  .body-module {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .data {
    display: flex;
    flex-wrap: wrap;
  }
  .label {
    background-color: #f9bc60;
    color: #232946;
    height: 25px;
  }
  .time {
    font-size: 8px;
  }
  .message {
    width: 260px;
    height: auto;
    margin-left: 0px;
    margin-top: 2px;
  }
  .role-teacher {
    margin-top: -12px;
  }
  .role-student {
    margin-top: -12px;
  }
  /* .message h6{
        width: 50px;
    } */
  .view-exam {
    height: 480px;
  }
  .view-module {
    height: 410px;
  }
  .view-content-exam {
    height: 380px;
  }
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background-color: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #f4caae;
  background-color: #232946;
  color: #f4caae;
  height: 50px;
}
:host ::ng-deep .p-button {
  background-color: #2b50b4;
  border: none;
}
:host ::ng-deep .p-button:hover {
  background-color: #244295;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
  border: none;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: none;
  border-radius: 6px;
  color: #a9b7c4;
}

.card-text {
  color: #858699;
}
.content-description h5 {
  font-size: 30px;
  color: #232946;
  font-weight: bold;
}
.content-description p {
  font-size: 18px;
}

/*  */
.header {
  background-color: #323096;
  height: auto;
}
.header h2 {
  color: white;
}
.header .icon-student img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.head-card {
  background-color: #323096;
}
.head-card h3 {
  color: whitesmoke;
}
.header .icon-module img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.header h6 {
  font-size: 28px;
  color: white;
  margin-left: 15px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background-color: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: white;
  background-color: #323096;
  color: white;
  height: 50px;
  margin-top: 20px;
}
:host ::ng-deep .p-button {
  background-color: #2b50b4;
  border: none;
}
:host ::ng-deep .p-button:hover {
  background-color: #244295;
}
:host ::ng-deep .p-tabview .p-tabview-nav {
  border: none;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: none;
  border-radius: 6px;
  color: #a9b7c4;
  margin-top: 20px;
}

.card-module {
  padding: 1rem;
  border-radius: 10px;
}
.card-module img {
  width: 8%;
}
.header-content {
  margin-left: 1rem;
}

.icon-male img {
  width: 22px;
  height: 20px;
  margin-left: 5px;
}
.icon-female img {
  width: 22px;
  height: 20px;
  margin-left: 5px;
}
.icon-phone {
  margin-left: 5px;
}

.icon-file img {
  width: 40px;
  height: 40px;
}
.icon-delete img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.icon-delete :hover {
  cursor: pointer;
}
.file h5 {
  margin-top: 8px;
}
.icon-exam img {
  width: 90px;
  height: 90px;
}

.card-header {
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
}

@media (min-width: 1204px) {
  .head-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .data-empty img {
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 768px) {
  .head-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .data-empty img {
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 411px) {
  .head-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .data-empty img {
    width: 22rem;
    height: 22rem;
  }
}
