<div class="container-fluid">
    <p-toolbar styleClass="my-4">
        <div>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-raised p-button-success mr-2" (click)="openNew()"></button>
        </div>
    </p-toolbar>

    <p-table #dt [value]="courses" [rows]="10" [paginator]="true" [globalFilterFields]="[
      'code',
      'typeName',
      'category',
      'periodeStart',
      'periodeEnd',
      'status',
      'capacity'
    ]" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="p-m-0">Manage Courses</h5>
                <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">
                    Code
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="typeName">
                    Cours Type
                    <p-sortIcon field="typeName"></p-sortIcon>
                </th>
                <th pSortableColumn="category">
                    Category
                    <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="periodeStart">
                    Periode Start
                    <p-sortIcon field="periodeStart"></p-sortIcon>
                </th>
                <th pSortableColumn="periodeEnd">
                    Periode End
                    <p-sortIcon field="periodeEnd"></p-sortIcon>
                </th>
                <th pSortableColumn="status">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="capacity">
                    Capacity
                    <p-sortIcon field="capacity"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td>{{ course.code }}</td>
                <td>{{ course.typeName }}</td>
                <td>{{ course.categoryName }}</td>
                <td>{{ course.periodStart }}</td>
                <td>{{ course.periodEnd }}</td>
                <td>{{ course.status }}</td>
                <td>{{ course.capacity }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTeacher(teacher)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTeacher(teacher)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{ courses ? courses.length : 0 }} courses.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isCreateModalVisible" [style]="{ width: '950px' }" header="Create Course" maximizable="true" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row mt-3">
            <div class="p-field col-md-9">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="createRequest.code" required autofocus />
                <small class="p-error" *ngIf="submitted && !createRequest.code">Code is required.</small
        >
      </div>
      <div class="p-field col-md-3">
        <label for="capacity">Capacity</label>
        <input
          type="text"
          pInputText
          id="capacity"
          [(ngModel)]="createRequest.capacity"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !createRequest.code"
          >Capacity is required.</small
        >
      </div>
    </div>

    <div class="p-field mt-3">
      <label for="courseTypes">Course Type</label>
      <p-dropdown
        [(ngModel)]="selectedType"
        [options]="courseTypes"
        placeholder="Select Course Type"
        optionLabel="name"
        optionValue="id"
      ></p-dropdown>
      <small class="p-error" *ngIf="submitted && !createRequest.courseTypeId"
        >Course Type is required.</small
      >
    </div>
    <div class="row mt-3">
      <div class="p-field col">
        <label for="teachers">Teacher</label>
        <p-dropdown
          [(ngModel)]="selectedTeacher"
          [options]="teachers"
          placeholder="Select Teacher"
          optionLabel="firstName"
          optionValue="id"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !createRequest.teacherId"
          >Teacher is required.</small
        >
      </div>

      <div class="p-field col">
        <label for="categories">Category</label>
        <p-dropdown
          [(ngModel)]="selectedCategory"
          [options]="categories"
          placeholder="Select Category"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
      </div>
      <small
        class="p-error"
        *ngIf="submitted && !createRequest.courseCategoryId"
        >Teacher is required.</small
      >
    </div>

    <div class="row mt-3">
      <div class="p-field col-md-6">
        <label for="periodStart">Period Start</label>
        <p-calendar
          [(ngModel)]="createRequest.periodStart"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
        ></p-calendar>
      </div>
      <div class="p-field col-md-6">
        <label for="periodEnd">Period End</label>
        <p-calendar
          [(ngModel)]="createRequest.periodEnd"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
        ></p-calendar>
      </div>
    </div>
    <div class="p-field mt-3">
      <label for="description">Description</label>
      <textarea
        [rows]="3"
        [cols]="30"
        pInputTextarea
        id="description"
        autoResize="autoResize"
        [(ngModel)]="createRequest.description"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="createCourse()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>