<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
</nav>

<div class="d-flex align-items-center justify-content-between px-2 mb-3">
    <h3>List Courses</h3>
    <button pButton pRipple type="button" icon="pi pi-plus" label="Add Course" class="p-button-raised p-button-sm" [routerLink]="['modif']" routerLinkActive="router-link-active"></button>
</div>
<p-table [value]="listCourses" [paginator]="true" [rows]="5" styleClass="test" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td>{{course.code}}</td>
            <td>{{course.type}}</td>
            <td>{{course.start}}</td>
            <td>{{course.end}}</td>
            <td>{{course.capacity}}</td>
            <td><span [class]="'product-badge status-' + course.status.toLowerCase()">{{course.status}}</span></td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" type="button" label="Edit" class="p-button-outlined p-button-warning p-button-sm"></button>
                <button pButton pRipple icon="pi pi-trash" type="button" label="Delete" class="p-button-outlined p-button-danger p-button-sm"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>