<div class="container-fluid">
    <p-toolbar styleClass="my-4">
        <div>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-raised p-button-success mr-2" (click)="openNew()"></button>
        </div>
    </p-toolbar>

    <p-table #dt [value]="courses" [rows]="10" [paginator]="true" [globalFilterFields]="[
      'code',
      'typeName',
      'category',
      'periodeStart',
      'periodeEnd',
      'status',
      'capacity'
    ]" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true" scrollWidth="100%" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="p-m-0">Manage Courses</h5>
                <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width: 7rem">
                    Code
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="typeName" style="width: 10rem">
                    Cours Type
                    <p-sortIcon field="typeName"></p-sortIcon>
                </th>
                <th pSortableColumn="category" style="width: 10rem">
                    Category
                    <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="description" style="width: 15rem">
                    Description
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="periodeStart" style="width: 10rem">
                    Periode Start
                    <p-sortIcon field="periodeStart"></p-sortIcon>
                </th>
                <th pSortableColumn="periodeEnd" style="width: 10rem">
                    Periode End
                    <p-sortIcon field="periodeEnd"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width: 10rem">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="capacity" style="width: 8rem">
                    Capacity
                    <p-sortIcon field="capacity"></p-sortIcon>
                </th>
                <th class="text-center" style="width: 10rem">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td style="width: 7rem">{{ course.code }}</td>
                <td style="width: 10rem">{{ course.typeName }}</td>
                <td style="width: 10rem">{{ course.categoryName }}</td>
                <td style="width: 15rem">{{ course.description }}</td>
                <td style="width: 10rem">
                    {{ course.periodStart | date: "dd MMM yyyy" }}
                </td>
                <td style="width: 10rem">
                    {{ course.periodEnd | date: "dd MMM yyyy" }}
                </td>
                <td style="width: 10rem; font-size: 14px">{{ course.status }}</td>
                <td class="text-center" style="width: 8rem">{{ course.capacity }}</td>
                <td style="width: 10rem">
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info"
                      (click)="viewModules(course.id)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-1" (click)="editCourse(course)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{ courses ? courses.length : 0 }} courses.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isCreateModalVisible" [style]="{ width: '950px' }" header="Create Course" maximizable="true" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row mt-3">
            <div class="p-field col-md-9">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="createRequest.code" required autofocus />
                <small class="p-error" *ngIf="submitted && !createRequest.code">Code is required.</small
        >
      </div>
      <div class="p-field col-md-3">
        <label for="capacity">Capacity</label>
        <input
          type="text"
          pInputText
          id="capacity"
          [(ngModel)]="createRequest.capacity"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !createRequest.code"
          >Capacity is required.</small
        >
      </div>
    </div>

    <div class="p-field mt-3">
      <label for="courseTypes">Course Type</label>
      <p-dropdown
        [(ngModel)]="selectedType"
        [options]="courseTypes"
        placeholder="Select Course Type"
        optionLabel="name"
        optionValue="id"
      ></p-dropdown>
      <small class="p-error" *ngIf="submitted && !createRequest.courseTypeId"
        >Course Type is required.</small
      >
    </div>
    <div class="row mt-3">
      <div class="p-field col">
        <label for="teachers">Teacher</label>
        <p-dropdown
          [(ngModel)]="selectedTeacher"
          [options]="teacherVal"
          placeholder="Select Teacher"
          optionLabel="value"
          optionValue="key"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !createRequest.teacherId"
          >Teacher is required.</small
        >
      </div>

      <div class="p-field col">
        <label for="categories">Category</label>
        <p-dropdown
          [(ngModel)]="selectedCategory"
          [options]="categories"
          placeholder="Select Category"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
        <small
          class="p-error"
          *ngIf="submitted && !createRequest.courseCategoryId"
          >Category is required.</small
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="p-field col-md-6">
        <label for="periodStart">Period Start</label>
        <p-calendar
          [(ngModel)]="createRequest.periodStart"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !createRequest.periodStart"
          >Period Start is required.</small
        >
      </div>
      <div class="p-field col-md-6">
        <label for="periodEnd">Period End</label>
        <p-calendar
          [(ngModel)]="createRequest.periodEnd"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !createRequest.periodEnd"
          >Period End is required.</small
        >
      </div>
    </div>
    <div class="p-field mt-3">
      <label for="description">Description</label>
      <textarea
        [rows]="3"
        [cols]="30"
        pInputTextarea
        id="description"
        autoResize="autoResize"
        [(ngModel)]="createRequest.description"
      ></textarea>
      <small class="p-error" *ngIf="submitted && !createRequest.description"
        >Description is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="createCourse()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Modal Edit -->
<p-dialog
  [(visible)]="isEditModalVisible"
  [style]="{ width: '950px' }"
  header="Edit Course"
  maximizable="true"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="row mt-3">
      <div class="p-field col-md-9">
        <label for="code">Code</label>
        <input
          type="text"
          pInputText
          id="code"
          [(ngModel)]="updateRequest.code"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !updateRequest.code"
          >Code is required.</small
        >
      </div>
      <div class="p-field col-md-3">
        <label for="capacity">Capacity</label>
        <input
          type="text"
          pInputText
          id="capacity"
          [(ngModel)]="updateRequest.capacity"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !updateRequest.code"
          >Capacity is required.</small
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="p-field col">
        <label for="courseTypes">Course Type</label>
        <p-dropdown
          [(ngModel)]="updateRequest.courseTypeId"
          [options]="courseTypes"
          placeholder="Select Course Type"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !updateRequest.courseTypeId"
          >Course Type is required.</small
        >
      </div>
      <div class="p-field col">
        <label for="courseStatus">Status</label>
        <p-dropdown
          [(ngModel)]="updateRequest.status"
          [options]="courseStatus"
          placeholder="Select Status"
          optionLabel="value"
          optionValue="key"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !updateRequest.status"
          >Status is required.</small
        >
      </div>
    </div>
    <div class="row mt-3">
      <div class="p-field col">
        <label for="teachers">Teacher</label>
        <p-dropdown
          [(ngModel)]="updateRequest.teacherId"
          [options]="teacherVal"
          placeholder="Select Teacher"
          optionLabel="value"
          optionValue="key"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !updateRequest.teacherId"
          >Teacher is required.</small
        >
      </div>

      <div class="p-field col">
        <label for="categories">Category</label>
        <p-dropdown
          [(ngModel)]="updateRequest.courseCategoryId"
          [options]="categories"
          placeholder="Select Category"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
        <small
          class="p-error"
          *ngIf="submitted && !updateRequest.courseCategoryId"
          >Category is required.</small
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="p-field col-md-6">
        <label for="periodStart">Period Start</label>
        <p-calendar
          [(ngModel)]="updateRequest.periodStart"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
          dateFormat="yy-mm-dd"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !updateRequest.periodStart"
          >Period Start is required.</small
        >
      </div>
      <div class="p-field col-md-6">
        <label for="periodEnd">Period End</label>
        <p-calendar
          [(ngModel)]="updateRequest.periodEnd"
          [showIcon]="true"
          appendTo="body"
          hourFormat="24"
          dateFormat="yy-mm-dd"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !updateRequest.periodEnd"
          >Period End is required.</small
        >
      </div>
    </div>
    <div class="p-field mt-3">
      <label for="description">Description</label>
      <textarea
        [rows]="3"
        [cols]="30"
        pInputTextarea
        id="description"
        autoResize="autoResize"
        [(ngModel)]="updateRequest.description"
      ></textarea>
      <small class="p-error" *ngIf="submitted && !updateRequest.description"
        >Description is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateCourse()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>