<div class="container-fluid mt-4">
    <p-toolbar styleClass="p-mb-4">
        <div>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </div>
    </p-toolbar>

    <p-table #dt [value]="listSubjects" [rows]="10" [paginator]="true" [globalFilterFields]="['code', 'name', 'description']" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="p-m-0">Manage Subject Category</h5>
                <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width: 10rem">
                    Code
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name" style="width: 10rem">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description" style="width: 20rem">
                    Description
                    <p-sortIcon field="description"></p-sortIcon>
                </th>

                <th style="width: 10rem" class="text-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sc>
            <tr>
                <td style="width: 10rem">{{ sc.code }}</td>
                <td style="width: 10rem">{{ sc.name }}</td>
                <td style="width: 20rem">
                    {{ sc.description }}
                </td>
                <td style="width: 10rem" class="text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSubjectCategory(sc)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSubjectCategory(sc)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{ subjectCategories ? subjectCategories.length : 0 }} subject categories.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isCreateModalVisible" [style]="{ width: '650px' }" header="Create Subject Category" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row mt-3">
            <div class="p-field col">
                <label for="code">Subject Category Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="createRequest.code" required autofocus />
                <small class="p-error" *ngIf="submitted && !createRequest.code">
          First Name is required.
        </small>
            </div>
            <div class="p-field col">
                <label for="name">Subject Category Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="createRequest.name" required autofocus />
            </div>
        </div>
        <div class="p-field mt-3">
            <label for="description">Description</label>
            <textarea [rows]="3" pInputTextarea autoResize="autoResize" id="description" [(ngModel)]="createRequest.description" required autofocus></textarea>
            <small class="p-error" *ngIf="submitted && !updateRequest.description">Description is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="createSubjectCategory()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="isEditModalVisible"
  [style]="{ width: '650px' }"
  header="Edit Subject Category"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="row mt-3">
      <div class="p-field col">
        <label for="code">Subejct Category Code</label>
        <input
          type="text"
          pInputText
          id="code"
          [(ngModel)]="updateRequest.code"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !updateRequest.code"
          >Code is required.</small
        >
      </div>
      <div class="p-field col">
        <label for="name">Subject Category Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="updateRequest.subjectName"
          required
          autofocus
        />
      </div>
    </div>
    <div class="p-field mt-3">
      <label for="description">Description</label>
      <textarea
        [rows]="3"
        pInputTextarea
        autoResize="autoResize"
        id="description"
        [(ngModel)]="updateRequest.description"
        required
        autofocus
      ></textarea>
      <small class="p-error" *ngIf="submitted && !updateRequest.description"
        >Description is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      pRipple
      label="Submit"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateSubjectCategory()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>