<div class="container-fluid">
  <div class="row">
    <div class="header-module col-lg-12">
      <div class="d-flex justify-content-evenly mt-4">
        <div class="d-flex justify-content-between">
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-arrow-left-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-evenly mt-2">
        <div class="d-flex justify-content-between">
          <h5>Teacher: Rian Rivaldo, S.Kom</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p-blockUI [blocked]="blockedDocument"></p-blockUI> -->
<p-dialog
  header="Edit Score"
  [(visible)]="display"
  [style]="{ width: '35vw' }"
  [baseZIndex]="10000"
>
  <div class="title-student">
    <h6>{{ tempFirstName }} {{ tempLastName }}</h6>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="username">Score</label>
      <input id="score" type="score" pInputText [(ngModel)]="score" />
      <small id="username-help">Enter your score to update your score.</small>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Save" (click)="updateScore()"></p-button>
  </ng-template>
</p-dialog>

<div class="body-module container-fluid p-4 mb-3">
  <div class="row">
    <div class="col-lg-12 mt-4">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="mb-3 mt-3">
          <h6>your student haven't viewed this assignment</h6>
        </div>
        <p-table
          [value]="studentSubmission"
          [scrollable]="true"
          [paginator]="true"
          [scrollable]="true"
          scrolHeight="100%"
          [rows]="10"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-striped"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
          [globalFilterFields]="['module']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th width="80px">No</th>
              <th width="80px">Name</th>
              <th width="80px">Date</th>
              <th width="80px">File</th>
              <th width="80px">Grade</th>
              <th width="80px">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ss let-rowIndex="rowIndex">
            <tr>
              <td width="80px">{{ rowIndex + 1 }}</td>
              <td width="80px">
                {{ ss.firstName }}
                {{ ss.lastName }}
              </td>
              <td width="80px">{{ ss.submittedDate }}</td>
              <td width="80px">
                <a href="http://192.168.15.224:8080/file/{{ ss.fileId }}">{{
                  ss.fileName
                }}</a>
              </td>
              <td width="80px">{{ ss.grade }}</td>
              <td width="80px">
                <p-button
                  (click)="showDialog(rowIndex)"
                  label="Edit Score"
                  styleClass="p-button-success"
                >
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
