.header-module {
  position: absolute;
  height: 25%;
  background-color: #323096;
}
.header-module a {
  margin-left: 5px;
  color: white;
}
.header-module h6 {
  color: white;
  font-size: 30px;
  margin-left: 15px;
}
.header-module h5 {
  color: #a7a9be;
  font-size: 18px;
  margin-left: 55px;
}
.icon-back :hover {
  cursor: pointer;
}

.body-module {
  margin-top: 5%;
}
.title-student h6 {
  font-weight: bold;
  font-size: 20px;
}
