<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/courses']" routerLinkActive="router-link-active">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modif</li>
    </ol>
</nav>

<div class="form-outer">
    <h1 class="display1">Add Course</h1>
    <hr>
    <div class="form-row">

        <div class="form-group col-md-12">
            <label>Teacher</label>
            <select class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                </select>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label>Course Code</label>
            <input type="text" class="form-control" placeholder="code...">
        </div>
        <div class="form-group col-md-6">
            <label>Course Type</label>
            <input type="text" class="form-control" placeholder="type...">
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label>Start Date</label>
            <input type="date" class="form-control" [(ngModel)]="date">
        </div>
        <div class="form-group col-md-6">
            <label>End Date</label>
            <input type="date" class="form-control">
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label>Category</label>
            <select class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                </select>
        </div>
        <div class="form-group col-md-4">
            <label>Capacity</label>
            <input type="text" class="form-control" placeholder="capacity...">
        </div>
        <div class="form-group col-md-4">
            <label>Status</label>
            <select class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                </select>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="col-lg-6">
            <button pButton pRipple type="button" label="Save Course" class="p-button-raised" icon="pi pi-plus" iconPos="left" style="width:100%;"></button>
        </div>
    </div>

</div>