<div class="body-margin container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-2 ml-2">
                        <h3>Available Course</h3>
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 mt-3" *ngFor="let c of courses">
                                    <div class="card" style="width: 20rem;">
                                        <img src="assets/images/ilustrator.jpg" class="card-img-top" height="150"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{c.name}}</h5>
                                            <h6 class="card-text mb-3"> 
                                            <span class="badge badge-primary mr-1">{{c.role}}</span>
                                            {{c.teacher}}
                                             </h6>
                                             
                                             <div class="d-flex justify-content-between">

                                                <p *ngIf="c.status == 1" class="card-text text-success">Already Registered</p>
                                                <p *ngIf="c.status == 2" class="card-text text-secondary">Not Register</p>
                                                <button pButton class="button-p p-button-secondary" label="View Course"></button>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>