.header-module{
    background-color: #232946;
    height: 240px;
}
.header-module h1{
    
    color: #f4caae;
}
.header-module p{
    color: white;
}
/* .body-module{
    position: absolute;
    top: 35%;
} */
.icon{
    
    color: #f4caae;
}
a{
    color: #232946;
}
.title h4{
    color: #232946;
}

.title h5{
    color: #232946;
}

 h3{
    color:#232946;
    font-weight: bold;
}
.register button{
    background-color: #232946;
}
.register button:hover{
    background-color: #333c6d;
}

:host ::ng-deep .custom .p-panel-header{
    font-size: 25px;
    font-weight: bold;
    color:  #232946;
  }
.button-r{
    background-color: #232946;
}
.info{
    font-weight: bold;
    margin: 10px;
}
.title{
    margin: 10px;
    font-weight: bold;
    color: #232946;
}

.btn-title{
    width: 7rem;
    margin: 10px;
    color: #232946;
    background-color: #f4caae;
}
a :hover{
    color: white;
    background-color:  #e99965;
}
.label-done{
    margin: 10px;
}

:host ::ng-deep .p-progressbar .p-progressbar-value{
   background-color: #232946;
  }
  :host ::ng-deep .p-progressbar {
    background-color: #62688a;
   }
  :host ::ng-deep .p-progressbar .p-progressbar-label{
      color: white;
  }

@media screen and(max-width: 991px){
    .header-module{
    background-color: #232946;
}   
.header-module h2{
    color: #f9bc60;
}
}