.status-badge.status-present {
  background: #c8e6c9;
  color: #256029;
}
.status-badge.status-absent {
  background: #ffcdd2;
  color: #c63737;
}
.status-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 20px;
  font-size: 10px;
  letter-spacing: 0.3px;
}
.download:hover {
  color: grey;
  cursor: pointer;
}
.icon {
  color: #232946;
}
a {
  color: #232946;
}

h3 {
  color: #232946;
  font-weight: bold;
}
.register button {
  background-color: #232946;
}
.register button:hover {
  background-color: #333c6d;
}
.module-title {
  font-weight: bold;
  color: white;
}

:host ::ng-deep .custom .p-panel-header {
  font-size: 25px;
  font-weight: bold;
  color: #232946;
}
.button-r {
  background-color: #232946;
}
.info {
  font-weight: bold;
  margin: 8px;
  /* width: 70%; */
}
.process {
  margin: 10px;
  color: #323096;
  font-weight: bold;
}
.btn-title {
  width: 7rem;
  margin: 10px;
  color: white;
  background-color: #62688a;
  border: none;
}
.btn-x {
  width: 7rem;
  margin: 10px;
  color: white;
  background-color: grey;
  border: none;
}
a :hover {
  color: white;
  background-color: #232946;
}
.label-done {
  margin: 10px;
}
:host ::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #2095f2;
}
:host ::ng-deep .p-progressbar {
  width: 50%;
  background-color: #ddf0ff;
  border-radius: 20px 20px 20px 20px;
}
:host ::ng-deep .p-progressbar .p-progressbar-label {
  /* visibility: hidden; */
  color: #2b2c34;
}
@media (min-width: 411px) {
  .title {
    margin: 10px;
    font-weight: bold;
    color: #232946;
    max-width: 15rem;
    font-size: 15px;
  }
  .card-header-module {
    border-radius: 10px;
    background-image: url("../../../../assets/images/banner_course.png");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
  }

  /* .btn-title{
        width: 7rem;
        height: 2rem;
    } */
  .left-content {
    width: 6rem;
    background-color: #323096;
  }
  .right-content {
    width: 20rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .title {
    margin: 10px;
    font-weight: bold;
    color: #232946;
    max-width: 60rem;
    font-size: 15px;
  }
  .card-header-module {
    border-radius: 10px;
    background-image: url("../../../../assets/images/banner_course.png");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3rem;
  }
  .left-content {
    width: 6rem;
    background-color: #323096;
  }
  .right-content {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 24px;
  }
  .left-content {
    width: 6rem;
    /* color: white; */
    background-color: #323096;
  }
  .right-content {
    width: 100%;
  }
}
@media screen and(max-width: 991px) {
  .header-module {
    background-color: #232946;
  }
  .header-module h2 {
    color: #f9bc60;
  }
}
