.header-module{
    background-color: #232946;
    height: 240px;
}
.header-module h2{
    color: #f9bc60;
}
.header-module p{
    color: white;
}
/* .body-module{
    position: absolute;
    top: 35%;
} */
.icon{
    color: #f9bc60;
}
a{
    color: #232946;
}
.title h4{
    color: #232946;
}

.title h5{
    color: #232946;
}

.card-head h3{
    color:#232946;
    background-color: #f9bc60 ;
    padding: 10px;
    font-weight: bold;
}
.register button{
    background-color: #232946;
}
.register button:hover{
    background-color: #333c6d;
}

:host ::ng-deep .custom .p-panel-header{
    font-size: 25px;
    font-weight: bold;
    color:  #232946;
  }
.button-r{
    background-color: #232946;
}
.info{
    font-weight: bold;
    margin: 10px;
}
.title{
    margin: 10px;
    font-weight: bold;
    color: #232946;
}

.btn-title{
    margin: 10px;
    background-color: #232946;
}
a :hover{
    background-color:  #334291;
}
.label-done{
    margin: 10px;
}
@media screen and(max-width: 991px){
    .header-module{
    background-color: #232946;
}   
.header-module h2{
    color: #f9bc60;
}
}