@import "~bootstrap/dist/css/bootstrap.css";
* {
  font-family: "Sanchez";
}

.p-orderlist-controls {
  display: none !important;
}

/* .p-button-text .p-button .p-component .p-button-icon-only .p-ripple {
    display: none !important;
} */

.p-paginator-left-content .p-button-text {
  display: none !important;
}

/* .p-ripple {
    display: none !important;
} */

.p-paginator-right-content .p-ripple {
  display: none !important;
}
