@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.p-orderlist-controls {
  display: none !important;
}

/* .p-button-text .p-button .p-component .p-button-icon-only .p-ripple {
    display: none !important;
} */

.p-paginator-left-content .p-button-text {
  display: none !important;
}

/* .p-ripple {
    display: none !important;
} */

.p-paginator-right-content .p-ripple {
  display: none !important;
}
