<div class="container-fluid">
  <div class="row">
    <div class="header-home col-lg-12">
      <h1 class="text-center m-4">Available Course</h1>
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="currentColor"
          class="avail bi bi-book mb-3"
          viewBox="0 0 16 16"
        >
          <path
            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
      </div>

      <p class="text-center text-light">
        Don't want to lose updates with others. Come on, follow the development
        of technology.
      </p>
      <div class="row justify-content-center">
        <div class="d-flex mb-3">
          <span class="p-input-icon-left" styleClass="width-input">
            <i class="pi pi-search"></i>

            <input
              type="text"
              pInputText
              placeholder="Search category..."
              (input)="searchKey()"
              [(ngModel)]="keyString"
            />
          </span>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center"> -->
      <div class="container justify-content-center">
        <!-- <p-scrollPanel [style]="{ width: '100%', height: '50px' }"> -->
        <div class="row categoryy">
          <div class="col-auto p-2">
            <a *ngIf="selectedCourse != 'all'" (click)="onChange('all')">
              <button class="invalid-all btn btn-secondary">All</button>
            </a>
            <a *ngIf="selectedCourse == 'all'" (click)="onChange('all')">
              <button class="valid-all btn btn-info">All</button>
            </a>
          </div>
          <div class="col-auto p-2" *ngFor="let c of data">
            <button
              *ngIf="selectedCourse != c"
              (click)="onChange(c)"
              class="invalid-selected btn btn-secondary"
            >
              {{ c }}
            </button>
            <button
              *ngIf="selectedCourse == c"
              (click)="onChange(c)"
              class="valid-selected btn btn-info"
            >
              {{ c }}
            </button>
          </div>
        </div>
        <!-- </p-scrollPanel> -->
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="body-home container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="row">
          <!-- SKLETON -->

          <!-- <div class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-3" *ngFor="let c of courseFiltering;let i = index">
                        <div class="custom-skeleton p-p-4">

                            <p-skeleton width="100%" height="150px"></p-skeleton>
                            <div class="d-flex flex-column">
                                <p-skeleton class="pb-2 pt-2" width="17rem" height="2rem"></p-skeleton>
                                <div class="d-flex flex-row">

                                    <p-skeleton class="pr-3" width="4rem" height="2rem"></p-skeleton>
                                    
                                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                                </div>
                                <div class="d-flex justify-content-between pt-2">

                                    <p-skeleton class="pr-3" width="7rem" height="2rem"></p-skeleton>
                                    
                                    <p-skeleton width="2rem" height="2rem"></p-skeleton>
                                </div>
                            </div>


                        </div>
                    </div> -->

          <!-- SKLETON -->

          <div
            class="col-lg-4 col-md-6 col-sm-12 mt-3 mb-3"
            *ngFor="let c of courseFiltering; let i = index"
          >
            <!-- <a > -->
            <div class="card mb-1 bg-white rounded">
              <div class="img">
                <img
                  src="assets/images/banner.svg"
                  class="card-img-top"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <a (click)="viewModule(i)">
                  <h5 class="card-title text-truncate" style="max-width: 19rem">
                    {{ c.typeName }}
                  </h5>
                </a>

                <h6 class="text-secondary">{{ c.categoryName }}</h6>
                <hr />

                <div class="d-flex flex-row">
                  <img
                    [src]="c.teacher.photoId"
                    height="50"
                    class="rounded-circle"
                    width="50"
                    alt=""
                  />
                  <div class="d-flex flex-column p-2">
                    <h6 class="text-info">
                      {{ c.teacher.firstName }} {{ c.teacher.lastName }},
                      {{ c.teacher.tittle }}.
                    </h6>

                    <span class="badge badge-primary">Teacher</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
