.button-p {
  background-color: #232946;
}
.row .categoryy {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.row .categoryy::-webkit-scrollbar {
  display: none;
}
.header-home {
  height: auto;
  padding-bottom: 30px;
  background-color: #323096;
}

.category-badge.category-name {
  background: rgb(228, 255, 255);
  color: #323096;
  font-weight: bold;
}
.category-badge {
  border-radius: 2px;
  padding: 0.4rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 20px;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.custom-select {
  background-color: rgb(224, 224, 224) !important;
  border: 1px solid #232946;
}
.form-control:focus {
  background-color: white;
}
.avail {
  color: #ddf0ff;
}

.header-home h1 {
  color: white;
  font-weight: bold;
}
.card-body h5 {
  color: #232946;
  font-weight: bold;
}
.teacher-name {
  font-weight: bold;
  color: #2b2c34;
}
/* .card-body h6 {
  color: grey;
  font-weight: bold;
} */
.badge {
  background-color: #232946;
  width: 5rem;
}
.invalid-all {
  /* max-height: 50px; */
  color: #323096;
  background-color: #b5b4dc;
  /* width: 50% !important; */
  border: none;
}
.invalid-selected {
  /* max-height: 50px; */
  border: none;
  color: #323096;
  /* width: 50% !important; */
  background-color: #b5b4dc;
}
.valid-all {
  /* max-height: 50px; */
  border: none;

  /* width: 50% !important; */
  color: #323096;
  background-color: rgb(220, 250, 250);
}
.valid-selected {
  /* max-height: 50px; */

  /* width: 50% !important; */
  color: #323096;
  border: none;
  background-color: rgb(220, 250, 250);
}

.card {
  border-radius: 15px;
  height: 26rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
}
.card-body a :hover {
  color: #3f5ae6;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #3f5ae6;
}
:host ::ng-deep .p-inputtext {
  background-color: #b5b4dc;
  border: white;
  color: white;
  width: 20rem;
}
:host ::ng-deep .p-inputtext:focus {
  background-color: white;
  border: white;
  color: black;
  border: white;
  width: 20rem;
}
:host ::ng-deep .p-carousel-container {
  width: 30rem;
  display: flex;
  justify-content: center;
}
.p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
  border-right: 9px solid var(--layer-1);
  border-bottom: 9px solid var(--layer-1);
}
.p-scrollpanel.custombar2 .p-scrollpanel-bar {
  background-color: var(--layer-2);
  border-radius: 0;
  opacity: 1;
  transition: background-color 0.2s;
}
/* .hello {
  width: 200px;
  height: 150px;
  overflow-x: scroll;
} */

/* @media screen and (max-width: 411px) {
    .header-home{
      position: absolute;
      height: 50%;
      background-color: #232946;
    }
    .body-home{
      margin-top: 60%;
      margin-left: 5%;
    }
  } */
@media (min-width: 411px) {
  .header-home {
    /* position: absolute;
      height: 80%; */
    height: auto;
    padding-bottom: 30px;
    background-color: #323096;
  }
  .card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 185px;
  }
  /* .body-home{
      margin-top: 22rem;
    } */
}

@media (min-width: 768px) {
  .teacher-name {
    max-width: 100%;
    font-weight: bold;
    color: #2b2c34;
  }
  .header-home {
    /* position: absolute;
    height: 50%; */
    height: auto;
    padding-bottom: 30px;
    background-color: #323096;
  }
  .card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 175px;
  }
  /* .body-home{
    margin-top: 19rem;
  } */
  .search-input {
    background-color: #3a4372;
    border: none;
    color: white;
    width: 30rem;
  }
}

@media (min-width: 1024px) {
  /* .body-home{
    margin-top: 20rem;
  } */
  .card-img-top {
    height: 185px;
  }
}

/* @media screen and (max-width: 1024px) {
    .header-home{
      position: absolute;
      height: 50%;
      background-color: #232946;
    }
    .body-home{
      margin-top: 40%;
      margin-left: 0%;
    }
  } */
