<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teacher
        </li>
    </ol>
</nav>

<div class="d-flex align-items-center justify-content-between px-2 mb-3">
    <h3>List Teachers</h3>
    <button pButton type="button" icon="pi pi-plus" label="Add Teacher" class="p-button-raised p-button-sm" (click)="showModalCreate()"></button>
</div>
<p-table [value]="listTeachers" [paginator]="true" [rows]="5" styleClass="test" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]" styleClass="p-datatable-sm test">
    <ng-template pTemplate="header">
        <tr>
            <th>Teacher Code</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Username</th>
            <th>Action</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
        <tr>
            <td>{{teacher.code}}</td>
            <td>{{teacher.firstName}} {{teacher.lastName}}</td>
            <td>{{teacher.phone}}</td>
            <td>{{teacher.username}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" type="button" label="Edit" class="p-button-outlined p-button-warning p-button-sm"></button>
                <button pButton pRipple icon="pi pi-trash" type="button" label="Delete" class="p-button-outlined p-button-danger p-button-sm"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>


<!-- Modal Form -->
<p-dialog header="Course Type" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    <div class="form-row">

        <div class="form-group col-6">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First name..." [(ngModel)]="teacherInput.firstName">
        </div>
        <div class="form-group col-6">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last name..." [(ngModel)]="teacherInput.lastName">
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-6">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username..." [(ngModel)]="teacherInput.username">
        </div>
        <div class="form-group col-6">
            <label>Password</label>
            <input type="text" class="form-control" placeholder="Password..." [(ngModel)]="teacherInput.password">
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-6">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email..." [(ngModel)]="teacherInput.email">
        </div>
        <div class="form-group col-6">
            <label>Phone Number</label>
            <input type="text" class="form-control" placeholder="Phone..." [(ngModel)]="teacherInput.phone">
        </div>


    </div>

    <div class="form-row">

        <div class="form-group col-12">
            <label>Degree</label>
            <input type="text" class="form-control" placeholder="Degree..." [(ngModel)]="teacherInput.titleDegree">
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-plus" (click)="displayModal=false" type="button" label="Save" class="p-button-primary p-button-sm"></button>
    </ng-template>
</p-dialog>


<!-- Modal Confirmation Delete -->
<p-dialog header="Delete Confirmation" [(visible)]="displayConfirmation" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    <p>Do you want to delete this record?</p>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-trash" (click)="displayConfirmation=false" type="button" label="Delete" class="p-button-danger p-button-sm"></button>
    </ng-template>
</p-dialog>