<div class="container-fluid">
  <div class="row">
    <div class="header-profile col-lg-12 pt-5 shadow p-3 mb-5"></div>
  </div>
</div>
<div class="body-profile container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <h6 hidden>{{ studentProfile.idPhoto }}</h6>
          <img
            [src]="photo"
            height="180"
            width="180"
            class="rounded-circle p-1 mb-2"
            alt=""
          />
        </div>
        <!-- <div class="camera d-flex justify-content-center">
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="currentColor"
              class="bi bi-camera-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
              <path
                d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
              />
            </svg>
          </a>
        </div> -->
      </div>

      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-space-evenly">
            <h1 class="name pr-3">
              {{ studentProfile.firstName }} {{ studentProfile.lastName }}
            </h1>
            <img
              *ngIf="
                studentProfile.gender &&
                studentProfile.gender.toString() === 'MALE'
              "
              src="assets/images/icon_male.png"
              height="30"
              alt=""
            />
            <img
              *ngIf="
                studentProfile.gender &&
                studentProfile.gender.toString() === 'FEMALE'
              "
              src="assets/images/icon_female.png"
              height="30"
              alt=""
            />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <h5 class="text-bold text-secondary">
            Member since {{ studentProfile.createdAt | date: "dd MMMM yyyy" }}
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-12 shadow p-4 mt-2 mb-2 rounded">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="text-secondary bi bi-person-square"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"
            />
          </svg>
          <h3 class="text-secondary ml-3">My Contact</h3>
        </div>
        <a class="text-secondary" (click)="openFormEdit(studentProfile)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-pencil-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
            />
          </svg>
        </a>
      </div>

      <hr />
      <h4 class="text-info">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-envelope-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
          />
        </svg>
        {{ studentProfile.email }}
      </h4>
      <hr />
      <h4 class="text-info">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-phone-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"
          />
        </svg>
        {{ studentProfile.phone }}
      </h4>
      <hr />
      <div class="d-flex justify-content-start my-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="text-secondary bi bi-bookmarks-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"
          />
          <path
            d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"
          />
        </svg>
        <h3 class="title-complete text-secondary ml-3">Course Percentage</h3>
      </div>

      <div class="d-flex flex-sm-row flex-wrap text-center">
        <div
          class="p-field col-lg-6 shadow-sm p-4 rounded"
          *ngFor="let mm of mymodules; let i = index"
        >
          <p-knob
            *ngIf="result[i] < 50"
            [(ngModel)]="result[i]"
            [size]="150"
            rangeColor=" #d9d9d9"
            valueColor="#e60000"
            [readonly]="true"
            valueTemplate="{value}%"
          ></p-knob>
          <p-knob
            *ngIf="result[i] >= 50 && result[i] < 80"
            [(ngModel)]="result[i]"
            [size]="150"
            rangeColor=" #d9d9d9"
            valueColor="#FFC300"
            [readonly]="true"
            valueTemplate="{value}%"
          ></p-knob>
          <p-knob
            *ngIf="result[i] == 100"
            [(ngModel)]="result[i]"
            [size]="150"
            rangeColor=" #d9d9d9"
            valueColor="Green"
            [readonly]="true"
            valueTemplate="{value}%"
          ></p-knob>
          <p-knob
            *ngIf="result[i] >= 85 && result[i] < 100"
            [(ngModel)]="result[i]"
            [size]="150"
            rangeColor=" #d9d9d9"
            valueColor="#2fb62f"
            [readonly]="true"
            valueTemplate="{value}%"
          ></p-knob>

          <h5 class="mmcourse">{{ mm.course }}</h5>
          <h6 class="text-secondary">
            {{ mm.value }} of {{ mm.total }} Modules Completed
          </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5 mb-2"></div>
  </div>
</div>

<p-blockUI [blocked]="blockedDocument"></p-blockUI>

<p-dialog
  header="Form Profile"
  [(visible)]="isDisplay"
  [style]="{ width: '60vw' }"
  [baseZIndex]="100000"
>
  <hr class="my-3" />
  <input type="hidden" [(ngModel)]="studentProfile.id" />
  <div class="d-flex flex-column">
    <div class="text-secondary">
      <h6>First Name</h6>
    </div>
    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        placeholder="First name.."
        [(ngModel)]="studentProfile.firstName"
      />
    </div>
    <div class="text-secondary">
      <h6>Last Name</h6>
    </div>
    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        placeholder="Last name.."
        [(ngModel)]="studentProfile.lastName"
      />
    </div>

    <div class="text-secondary">
      <h6>Username</h6>
    </div>
    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        placeholder="Last name.."
        [(ngModel)]="studentProfile.username"
      />
    </div>
    <div class="text-secondary">
      <h6>Phone Number</h6>
    </div>
    <div class="p-inputgroup mb-2">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        placeholder="Phone.."
        [(ngModel)]="studentProfile.phone"
      />
    </div>
    <div class="text-secondary">
      <h6>Gender</h6>
    </div>
    <div class="p-inputgroup mb-2">
      <div class="d-flex flex-row">
        <div class="form-check pr-3">
          <input
            class="form-check-input"
            type="radio"
            name="male"
            value="MALE"
            [(ngModel)]="studentProfile.gender"
          />
          <label class="form-check-label"> Male </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="female"
            value="FEMALE"
            [(ngModel)]="studentProfile.gender"
          />
          <label class="form-check-label"> Female </label>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3" />

  <ng-template pTemplate="footer">
    <a (click)="cancelDialog()">
      <button class="btn btn-sm btn-secondary">Cancel</button>
    </a>
    <a (click)="updateProfile()">
      <button class="save btn btn-sm btn-info">Save</button>
    </a>
  </ng-template>
</p-dialog>
