.button-p {
  background-color: #232946;
}

.img-teach {
  height: 80px;
  width: 80px;
}
.header-home h1 {
  color: #f4caae;
  font-weight: bold;
}
.course-icon {
  color: #f4caae;
}
.card-body h5 {
  color: #232946;
  font-weight: bold;
}

.card-body h6 {
  color: grey;
  font-weight: bold;
}
.badge {
  background-color: #f4caae;
  color: #232946;
}
.my-course {
  font-weight: bold;
}

.course-progress {
  font-weight: bold;
}
.body-progress {
  border-radius: 10px;
  border: 1px solid rgb(214, 214, 214);
}
.start-date {
  color: rgb(214, 214, 214);
}
/* 
.row .progress {
  background-color: white !important;
  flex-wrap: nowrap;
  height: 9rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row .progress::-webkit-scrollbar {
  display: none;
} */

:host ::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #2095f2;
}
:host ::ng-deep .p-progressbar {
  width: 50%;
  margin-top: 1rem;
  height: 1.2rem;
  background-color: #ddf0ff;
  border-radius: 20px 20px 20px 20px;
}
:host ::ng-deep .p-progressbar .p-progressbar-label {
  /* visibility: hidden; */
  /* font-size: 10px; */
  margin-top: -2px;
  color: #2b2c34;
}
.card {
  border-radius: 7px;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card :hover {
  cursor: pointer;
}
.card-header-course {
  border-radius: 7px 7px 0px 0px;
  height: 10rem;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 1rem;
  padding-top: 1rem;
}

.category-badge.category-name {
  color: #323096;
  background-color: #b5b4dc;
}
.category-badge {
  border-radius: 2px;
  padding: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 20px;
  font-size: 10px;
  letter-spacing: 0.3px;
}
.teacher-name {
  font-weight: bold;
}
.card-title {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}
/* 
.card-body a :hover {
  color: #3f5ae6;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #3f5ae6;
} */

@media (min-width: 411px) {
  .teacher-name {
    max-width: 180px;
  }
  .header-home {
    position: absolute;
    height: auto;
    background-color: #232946;
  }
  .card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 185px;
  }
  .image-card {
    height: 26rem;
    width: 24rem;
  }
  .image-empty {
    margin-top: 30px;
    height: 18rem;
    width: 18rem;
  }
}

@media (min-width: 768px) {
  .header-home {
    position: absolute;
    height: auto;
    padding-bottom: 50px;
    background-color: #232946;
  }
  .image-card {
    height: 25rem;
    width: 24rem;
  }
  .image-empty {
    margin-top: 0px;
    height: 24rem;
    width: 24rem;
  }
  .card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 175px;
  }
  .teacher-name {
    max-width: 200px;
  }
}

@media (min-width: 992px) {
}
@media (min-width: 1024px) {
  .teacher-name {
    max-width: 190px;
  }
  .card-img-top {
    height: 185px;
  }
}

/* @media (min-width: 1024px) {
  .header-home{
    position: absolute;
    height: 30%;
    background-color: #232946;
  }
  .body-home{
    margin-top: 15rem;
  }
 } */
