<div class="body-home container-fluid mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div *ngIf="isEmpty" class="container-fluid">
        <div class="row justify-content-center">
          <img src="assets/images/dataEmpty.png" height="500" width="450" alt="" />
        </div>
      </div>
      <div *ngIf="!isEmpty" class="container">

        <h4 class="my-course mt-5">MY COURSE</h4>
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-3 mb-3" *ngFor="let c of courses; let i = index">
            <a (click)="viewModule(i)">
              <div class="card mb-1 bg-white" pTooltip="{{ c.typeName }}" tooltipPosition="top">
                <div class="card-body-course">
                  <div class="d-flex flex-column">
                    <div class="card-header-course">
                      <h6 class="start-date">
                        {{ c.periodStart | date: "MMMM dd, yyyy" }}
                      </h6>
                      <h4 class="card-title text-truncate" style="max-width: 200px">
                        {{ c.typeName }}
                      </h4>

                      <span class="category-badge category-name mr-2">{{
                        c.categoryName
                        }}</span>
                      <p-progressBar *ngIf="!c.isCompleted" [value]="c.percentProgress" class="progress-value">
                      </p-progressBar>

                      <span *ngIf="c.isCompleted" class="finished-badge finished">Finished</span>
                    </div>

                  </div>

                  <div class="d-flex flex-row p-3">
                    <img [src]="c.teacher.photoId" class="img-teach rounded-circle" alt="" />
                    <div class="d-flex flex-column p-2">
                      <h5 class="teacher-name text-truncate">
                        {{ c.teacher.firstName }} {{ c.teacher.lastName }},
                        {{ c.teacher.title }}.
                      </h5>

                      <h6 class="text-secondary">{{ c.teacher.experience }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>