<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center rounded-circle">
            <div class="rounded-circle mx-auto pt-4" style="width: 100px; height: 100px;">
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge"
                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            </div>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/home']" routerLinkActive="active">
                <i class="pi pi-home"></i> Home
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/teachers']" routerLinkActive="active">
                <i class="pi pi-users"></i> Teacher
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/student']" routerLinkActive="active">
                <i class="pi pi-users"></i> Student
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/courses']" routerLinkActive="active">
                <i class="pi pi-ticket"></i> Course
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/course-type']" routerLinkActive="active">
                <i class="pi pi-tags"></i> Course Type
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/subjects']" routerLinkActive="active">
                <i class="pi pi-table"></i> Subject Category
            </a>
        </div>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top z1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4>Admin Page</h4>
            <button pButton pRipple type="button" label="Logout" class="p-button-raised p-button-warning p-button-sm ml-auto"
                icon="pi pi-sign-out" style="width:100px; height: 30px;"></button>
        </nav>
        <div class="container-fluid px-5 mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>