<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
            <img [src]="loginResponse.photoId" alt style="width: 84px; height: 84px" class="rounded-circle">
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/home']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'tachometer-alt']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Dashboard</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/teacher']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'user-graduate']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Teacher</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/student']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'users']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Student</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/course']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'graduation-cap']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Course</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/course-type']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'book-open']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Course Type</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/course-category']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fab', 'leanpub']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Course Category</span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/admin/subject-category']" routerLinkActive="active">
                <div class="row">
                    <div class="col-2">
                        <fa-icon [icon]="['fas', 'tags']" size="lg"></fa-icon>
                    </div>
                    <div class="col-10">
                        <span>Subject Category</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom p-2 px-2 px-sm-5">
            <button class="navbar-toggler" type="button" data-toggle="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-lg-2 ml-auto" href="#">
                <img src="assets/images/logo4.png" width="48px" height="48px" alt="Lawerning" />
                <span class="d-none d-lg-inline pl-lg-2">Lawerning</span>
            </a>
            <button type="button" label="Sign out" (click)="logout()" class="btn btn-outline-info ml-auto">
                Sign Out <fa-icon [icon]="['fas', 'sign-out-alt']" size="lg" class="px-2"></fa-icon>
            </button>
        </nav>
        <div class="container-fluid" id="mainContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>