<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/subjects']" routerLinkActive="router-link-active">Subject</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modif</li>
    </ol>
</nav>

<div class="form-outer">
    <h2>Add Subject Category</h2>
    <hr>
    <div class="form-row">

        <div class="form-group col-lg-6 col-md-12">
            <label>Subject Code</label>
            <input *ngIf="validateCode" type="text" class="form-control" placeholder="code..." [(ngModel)]="code">
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label>Subject Name</label>
            <input type="text" class="form-control" placeholder="name...">
        </div>
        <div class="form-group col-lg-12 col-md-12">
            <label>Description</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="col-lg-6">
            <button pButton pRipple type="button" label="Save Subject" class="p-button-raised" icon="pi pi-plus" iconPos="left" style="width:100%;"></button>
            <!-- <button class="btn btn-primary" (click)="printDate()"> Save </button> -->
        </div>
    </div>
</div>