<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">CourseType
        </li>
    </ol>
</nav>

<div class="d-flex align-items-center justify-content-between px-2 mb-3">
    <h3>List Course Types</h3>
    <button pButton type="button" icon="pi pi-plus" label="Add Course Type" class="p-button-raised p-button-sm" (click)="showModalCreate()"></button>
</div>
<p-table [value]="listCourseTypes" [paginator]="true" [rows]="5" styleClass="test" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header">
        <tr>
            <th>No</th>
            <th>Course Type Code</th>
            <th>Course Type Name</th>
            <th>Action</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ct let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{ct.code}}</td>
            <td>{{ct.name}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" (click)="showModalEdit(rowIndex)" type="button" label="Edit" class="p-button-outlined p-button-warning p-button-sm"></button>
                <button pButton pRipple icon="pi pi-trash" (click)="confirmDelete()" type="button" label="Delete" class="p-button-outlined p-button-danger p-button-sm"></button>
            </td>

        </tr>
    </ng-template>
</p-table>



<!-- Modal Form -->
<p-dialog header="Course Type" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="form-row">

        <div class="form-group col-12">
            <label>Code</label>
            <input type="text" class="form-control" placeholder="Code..." [(ngModel)]="codeVal">
        </div>
        <div class="form-group col-12">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Type..." [(ngModel)]="nameVal">
        </div>

    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-plus" (click)="displayModal=false" type="button" label="Save" class="p-button-primary p-button-sm"></button>
    </ng-template>
</p-dialog>


<!-- Modal Confirmation Delete -->
<p-dialog header="Delete Confirmation" [(visible)]="displayConfirmation" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    <p>Do you want to delete this record?</p>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-trash" (click)="displayConfirmation=false" type="button" label="Delete" class="p-button-danger p-button-sm"></button>
    </ng-template>
</p-dialog>