<div *ngIf="reports.length == 0">
  <img src="assets/images/dataEmpty.png" height="450" alt="" />
</div>
<div *ngIf="reports.length > 0" class="container-fluid p-5">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card">
        <div class="d-flex justify-content-end p-3">
          <a href="http://192.168.15.224:8080/student/report/{{ studentId }}">
            <button
              pButton
              type="button"
              icon="pi pi-file"
              label="Download"
              class="download p-button-secondary p-button-sm"
            ></button>
          </a>
        </div>

        <p-table
          #dt1
          [value]="reports"
          [paginator]="true"
          [scrollable]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-striped"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
          [globalFilterFields]="['exam', 'module']"
        >
          <ng-template pTemplate="caption">
            <div class="head-card d-flex justify-content-between p-3">
              <h3>My Reports</h3>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search"
                />
              </span>
            </div>

            <hr />
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-info" width="100px">Course</th>
              <th class="text-info" width="100px">Module</th>
              <th class="text-info" width="100px">Exam Type</th>
              <th class="text-info" width="100px">Exam</th>
              <th class="text-info" width="100px">Date</th>
              <th class="text-info" width="100px">Score</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-r>
            <tr>
              <td width="100px">{{ r.courseName }}</td>
              <td width="100px">{{ r.moduleName }}</td>
              <td width="100px">{{ r.examType }}</td>
              <td width="100px">{{ r.examTitle }}</td>
              <td width="100px">{{ r.dateExam | date: "dd MMM yyyy" }}</td>
              <td width="100px" class="text-info">{{ r.grade }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button
              type="button"
              icon="pi pi-plus"
              styleClass="p-button-text"
            ></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              icon="pi pi-cloud"
              styleClass="p-button-text"
            ></p-button>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
